<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head th:replace="main_templates/template :: head"></head>
<body>
	<header th:replace="main_templates/template :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:object="${usuario}" th:action="@{/views/usuario/guardarUsuario}" method="post">
					<div class="form-group col-md-6">
						<label for="inputAddress">Nombre de usuario</label>
						<input type="text" th:field="*{nickname}" class="form-control"
							id="inputAddress" placeholder="">
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Nombre</label>
							<input type="text" th:field="*{nombre}" class="form-control" id="inputEmail4"
								placeholder="">
						</div>
						<div class="form-group col-md-3">
							<label for="inputPassword4">Apellidos</label>
							<input type="text" th:field="*{apellidos}" class="form-control" id="inputPassword4"
								placeholder="">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Email</label>
							<input type="email" th:field="*{email}" class="form-control" id="inputEmail4"
								placeholder="">
						</div>
						<div class="form-group col-md-3">
							<label for="inputPassword4">Password</label>
							<input type="password" th:field="*{password}" class="form-control"
								id="inputPassword4" placeholder="">
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="inputAddress">Dirección</label>
						<input type="text" th:field="*{direccion}" class="form-control" id="inputAddress"
							placeholder="">
					</div>
					<div class="form-group col-md-6">
						<label for="inputState">Distrito</label>						
						<select class="form-control" name="selectDistrict" >
            				<option th:each="distrito:${distritos}" th:value="${distrito}" th:text="${distrito.nombre}"></option>
             			</select>	
					</div>
					<button type="submit" class="btn btn-primary">Registrar</button>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="main_templates/template :: footer"></footer>

</body>
</html>